/*style sheet for T-shirt homework */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin:auto;
}


/*****************************MAIN AND SECTION*******************/
 main {
   width:409px;
   color: rgb(122, 181, 222);
   float:left;
   margin:30px;:

 }
section{
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  float:left;
}

section img{
  float:left;
  padding:15px 0 15px 15px;

}

section ul{
  padding:0;
}



/********************* section sub list 1**********************************/
.fa-repeat {
  border-left:2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  padding:.25em;
  position:relative;
  left:2px;
}

.fa-repeat:hover {
  background-color:rgb(122, 181, 222);
  color: rgb(255, 255, 255);
  padding:.25em;
  position:relative;
  left:2px;
}

.fa {
  float:left;
  font-size:1.25em;
  font-weight: bold;
}

.ls-primary >.prim-ls {
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  padding:1.25em;
  width:20%;
  box-sizing: border-box;
  text-align:center;
  list-style: none;
}

.ls-primary{
  margin:0;
}

.ls-primary > .prim-ls:hover{
  background-color: rgb(122, 181, 222);
  color: rgb(255,255,255);
}

.ls-primary > .prim-ls:last-child {
  border-right: none;
}


/********************* sub list color square**********************************/

.inr-sqr{
   padding:2px 3px 2px 20px;
   border: 2px solid rgb(122, 181, 222);
   background-color: rgb(122, 181, 222);
}

.sqr-blue-mn .inr-sqr{
   border: 2px solid rgb(122, 181, 222);
   background-color: rgb(122, 181, 222);
}
 .sqr-pink-mn .inr-sqr{
   border: 2px solid rgb(212, 130, 170);
   background-color: rgb(212, 130, 170);
}

.sqr-yellow-mn .inr-sqr{
  border: 2px solid rgb(218, 175, 124);
  background-color: rgb(218, 175, 124);
}

.sqr-blue-mn .inr-sqr:hover{
   border:2px solid rgb(255, 255, 255);
   background-color: rgb(122, 181, 222);
}

 .sqr-pink-mn .inr-sqr:hover{
   border:2px solid rgb(255, 255, 255);
   background-color: rgb(122, 181, 222);
}

.sqr-yellow-mn .inr-sqr:hover{
   border:2px solid rgb(255, 255, 255);
   background-color: rgb(122, 181, 222);
}

.fa-square{
  float:left;
  width:50%;
  box-sizing: border-box;
  padding:2px 2px 2px 2px;
  font-size:2em;
}
.sqr-blue{
  color: rgb(122, 181, 222);
}
 .sqr-pink{
   color: rgb(212, 130, 170);
}
 .sqr-yellow{
   color: rgb(218, 175, 124);
}
 .sqr-green{
   color: rgb(124, 175, 124);
}




/******DROPDOWNS************************************************/

.ls-primary >.size-mn{
  font-family: 'Roboto';
  box-sizing: border-box;
  height:74px;
}

.drp-rec > .size{
  font-size: 1em;
  border:none;
  margin:0;
  padding:.5em 1.25em;
  width:100%;
  box-sizing: border-box;
  text-align:center;
  list-style: none;
  color: rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
}

.drp-rec{
  height:142px;
  opacity:0;
  top:-204px;
  left:-31px;
  position:relative;
  box-sizing: border-box;
  width:90px;
  transition:opacity .5s linear, top .5s linear;
  border: 2px solid rgb(122, 181, 222);
}

.size-mn:hover > .drp-rec{
  opacity:1;
  top:-187px;
  left:-31px;
  background-color: white;
  position:relative;
  box-sizing: border-box;
  width:90px;
  border: 2px solid rgb(122, 181, 222);
}

.drp-rec .sml-sel {
  font-size: .7em
}

.drp-rec .med-sel {
  font-size: .8em
}

.drp-rec .lrg-sel {
  font-size: .9em
}

.drp-rec .xlg-sel {
  font-size: 1em;
}

.clr-sqr {
  height:74px;
}

.drp-sqr {
  opacity:0;
  transition:opacity .5s linear, top .5s linear;
  position: relative;
  top:-153px;
  left:-31px;
  box-sizing: border-box;
  list-style: none;
  width:90px;
  height:90px;
  border-bottom: 2px solid rgb(122, 181, 222);

  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
}

.clr-sqr:hover > .drp-sqr {
  opacity:1;
  position: relative;
  top:-135px;
  left:-31px;
  box-sizing: border-box;
  list-style: none;
  width:90px;
  height:90px;
  border: 2px solid rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
}


/****************************TRIANGLE FOR BORDER**********/


.drp-rec > .out-tri{
  box-sizing: border-box;
  position: relative;
  width:16px;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: rgb(122, 181, 222) transparent transparent transparent;
  top:138px;
  left:35px;
  margin:0;
  list-style: none;
}
.drp-rec >.inr-tri {
  position:relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  list-style: none;
  top:127px;
  left:37px;
}

.drp-sqr > .out-tri{
  box-sizing: border-box;
  position: relative;
  width:16px;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: rgb(122, 181, 222) transparent transparent transparent;
  top:86px;
  left:35px;
  margin:0;
  list-style: none;
}
.drp-sqr >.inr-tri {
  position:relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  list-style: none;
  top:75px;
  left:37px;
}

/******Footer************************************************/

footer {
  width:auto;
  margin:auto;
}

.btm-lst{
  margin:0;
  width:50%;
  float:left;
  margin-top:1.10em;
  display:inline;
  box-sizing: border-box;;
}

p.btm-lst{
  text-align:left;
  font-size:1.60em;
  padding-left: .25em;
}

figure.btm-lst{
  text-align:right;
  padding-right: .75em;
  font-size:1.55em;
}
