/*style sheet for T-shirt homework */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', Arial, sans-serif;
}
main {
  width: auto;
  float:left;
  color:rgb(122, 181, 222);
}
section{
  width: auto;
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  float:left;
}

section img{
  float:left;
  padding:15px;
  text-align: center;
}

.fa {
  display:inline;
  float:left;
}
section ul{
  margin:0;
  clear:both;
}

section li {
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  padding:1.25em;
  margin:0;
  width:20%;
  box-sizing: border-box;
  text-align:center;
  list-style: none;
  font-weight: bold;
}

section li:nth-child(3){
  font-family: 'Roboto';
}
section li:hover{
  background-color: rgb(122, 181, 222);
  color: rgb(255,255,255);
}

section li:last-child {
  border-right: none;
}



main ul{
  padding:0;
  margin:0;
}

main .btm-lst {
  width:auto;
  margin:0;
  float:left;
  display:inline;
  padding:0;
}

main li.btm-lst{
    width:50%;
    list-style: none;
}

.btm-lst p{
  padding-left: .25em;
  font-size:1.60em;
  margin-top:1.15em;

}

/*.btm-lst ~ h4 {
  text-align:right;
  padding-right: 1em;
}
*/

.btm-lst h5{
  text-align:right;
  padding-right: .30em;
  font-size:1.55em;
  margin-top:1.10em;
}



 .square {
  padding:.25em .75em .25em .75em;
  border:2px solid rgb(122, 181, 222);
  background-color: rgb(122, 181, 222);
}

 .square:hover{
  padding:.25em .75em .25em .75em;
  border:2px solid rgb(255, 255, 255);
  background-color: rgb(122, 181, 222);
}
