/*style sheet for T-shirt homework */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin:auto;
}


/*****************************Section*******************/
 main {
   width:409px;
   color: rgb(122, 181, 222);
   float:left;
   margin:40px;:

 }
section{
  width: auto;
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  float:left;
}

section img{
  float:left;
  padding:15px 0 15px 15px;
  text-align: center;
}

 .fa-repeat {
  border-left:2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  padding:.25em;
}


 .fa-repeat:hover {
  background-color:rgb(122, 181, 222);
  color: rgb(255, 255, 255);
  padding:.25em;
}


 /*.prim-ls:hover{
  border-left:2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  background-color:rgb(122, 181, 222);
  color: rgb(255, 255, 255);
  padding:25px;
}*/

.fa {
  display:inline;
  float:left;
  font-size:1.25em;
  font-weight: bold;
}
section ul{
  margin:0;
  clear:both;
  width:100%;
  padding:0;
}

.ls-primary >.prim-ls {
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-bottom: 2px solid rgb(122, 181, 222);
  padding:1.25em;
  margin:0;
  width:20%;
  box-sizing: border-box;
  text-align:center;
  list-style: none;
  font-weight: bold;
  color: rgb(122, 181, 222);
}

.ls-primary >.size-mn{
  font-family: 'Roboto';
  position:relative;
}

.ls-primary > .prim-ls:hover{
  background-color: rgb(122, 181, 222);
  color: rgb(255,255,255);
}



.ls-primary > .prim-ls:last-child {
  border-right: none;
}

.inr-sqr{
 padding:2px 3px 2px 20px;
 border: 2px solid rgb(122, 181, 222);
 background-color: rgb(122, 181, 222);
}

.sqr-blue-mn .inr-sqr{
 /*padding:2px 3px 2px 20px;*/
 border: 2px solid rgb(122, 181, 222);
 background-color: rgb(122, 181, 222);
}
 .sqr-pink-mn .inr-sqr{
 /*padding:2px 3px 2px 20px;*/
 border: 2px solid rgb(212, 130, 170);
 background-color: rgb(212, 130, 170);
}
.sqr-yellow-mn .inr-sqr{
/*padding:2px 3px 2px 20px;*/
border: 2px solid rgb(218, 175, 124);
background-color: rgb(218, 175, 124);
}

.sqr-blue-mn .inr-sqr:hover{
 /*padding:2px 3px 2px 20px;*/
 border:2px solid rgb(255, 255, 255);
 background-color: rgb(122, 181, 222);
}
 .sqr-pink-mn .inr-sqr:hover{
 /*padding:2px 3px 2px 20px;*/
 border:2px solid rgb(255, 255, 255);
 background-color: rgb(122, 181, 222);
}
.sqr-yellow-mn .inr-sqr:hover{
 /*padding:2px 3px 2px 20px;*/
 border:2px solid rgb(255, 255, 255);
 background-color: rgb(122, 181, 222);
}

.fa-square{
float:left;
width:50%;
box-sizing: border-box;
padding:2px 2px 2px 2px;
font-size:2em;
}
.sqr-blue{
color: rgb(122, 181, 222);
}
 .sqr-pink{
color: rgb(212, 130, 170);
}
 .sqr-yellow{
color: rgb(218, 175, 124);
}
 .sqr-green{
color: rgb(124, 175, 124);
}




/******DROPDOWNS************************************************/


.drp-rec > .size{
  font-size: 1em;
  border:none;
  margin:0;
  padding:.5em 1.25em;
  width:100%;
  box-sizing: border-box;
  text-align:center;
  list-style: none;
  color: rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
  /*border-top: 2px solid rgb(122, 181, 222);*/
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
}

.drp-rec{
  opacity:0;
  top:-162px;
  left:-6px;
  background-color: rgb(255, 255, 255);
  position:absolute;
  box-sizing: border-box;
  width:90px;
  transition:opacity .5s linear;
}

.size-mn{
  }


.size-mn:hover > .drp-rec{
  opacity:1;
  top:-162px;
  left:-6px;
  background-color: white;
  position:absolute;
  box-sizing: border-box;
  width:90px;

}



.clr-sqr {
  height:74px;
}


 .drp-sqr {
  opacity:0;
  transition:opacity .5s linear;
  position: relative;
  top:-137px;
  left:-30px;
  box-sizing: border-box;
  list-style: none;
  width:90px;
  height:90px;
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
}
.clr-sqr:hover > .drp-sqr {
  opacity:1;
  position: relative;
  top:-137px;
  left:-30px;
  box-sizing: border-box;
  list-style: none;
  width:90px;
  height:90px;
  border-top: 2px solid rgb(122, 181, 222);
  border-right: 2px solid rgb(122, 181, 222);
  border-left: 2px solid rgb(122, 181, 222);
  background-color: rgb(255, 255, 255);
}







/******Footer************************************************/

footer {
  width:auto;
  margin:auto;
}

.btm-lst{
    margin:0;
    width:50%;
    float:left;
    margin-top:1.10em;
    display:inline;
    box-sizing: border-box;;
}

p.btm-lst{
text-align:left;
/*padding-left: .25em;*/
font-size:1.60em;
padding-left: .25em;


}

figure.btm-lst{
text-align:right;
padding-right: .75em;
font-size:1.55em;
}
